@import url('reset.css');

body{
    font-family: 'Frank Ruhl Libre', serif;
    font-family: 'Noto Serif TC', serif;
    display: block;
    margin:0 auto;
    height: 100%;
    line-height: 1.5;
    max-width: 1280px;
    }


/* 頭 */
.top{
    height: 210px;
    background-color: rgba(102, 102, 167, 0.954);
}

.top ul{
    display: inline-flex;
    margin-top: 14px;
    padding-left: 80px;
    text-align: center;
   }

.top img{
    display: block;
    margin: 0 auto;
    width: 150px;

}

.top i{
    display: none;
}
.top li{
    flex-shrink: 0;
    font-weight: 20px;
    flex-basis: 198px;
    box-sizing: border-box;
}

.top li a{
    position: absolute;
    text-decoration: none;
    color: whitesmoke;
    letter-spacing: 20px;
}

.top a:hover:after {
    position: relative;
    content: "";
    background-color:rgba(255, 255, 254, 0.961) ;
    display: block;
    height: 3.2px;
    width: 50px;
    margin: 0 auto;
    left: -10px;
}

/*soppoing */

h1{
    margin: 30px;
    margin-left: 155px;
    color: rgb(172 125 125);
}

.shop{
    align-items: center;
    background-color:rgb(215 212 175 / 23%);
    width: 659px;
    height: 290px;
    margin-left: 152px;
    position: relative;
}

.item_header{
    display: flex;
    justify-content:flex-start;
    height: 30px;
    background-color:rgb(246 246 233 / 96%);
    border-radius: 3px;
    padding-left: 47px;
}

.item_header li{
    width: 148px;
    color: #888;
    line-height: 33px;
    padding-bottom: 10px;
    font-size: 13px;
}


/* 中間購物欄 */
.item_body li{
    font-size: 5px;
    padding-bottom: 5px;  
    padding-left: 13px;  
    margin-right: -79px;
}

.item_body img{
    width: 80px;
    border-radius: 3px;
    margin-top: -10px;
}

.item_body h3{
    font-size: 5px;
}
.item_body{
    flex-basis: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 35px;
    margin-left: 19px;
}

input{
    width: 30px;
    height: 15px;
    text-align: center;
    margin-left: 55px;
}
i.fa.fa-plus {
    margin-left: -106px;
    font-size: 5px;
}
i.fa.fa-minus {
    margin-right: -159px;
    padding-left: 78px;
    font-size: 5px;
}

i.fa.fa-times-rectangle {
    padding-right: 12px;
}

.item_body .count{
    padding-left: 10px;
}
.item_body .count2{
margin-right: -86px;
}

/* 右邊結算區 */
.title{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    width: 350px;
    right: -351px;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: right;
    background-color:rgb(232 232 232 / 62%);
}

.title ul{
   font-size: 10px;
   color: #888;
}

.title li{
    padding-top: 10px;
    padding-right: 10px;
}

.title li:last-child{
    padding-top: 151px;
}

.title li:nth-child(2){
    font-size: 20px;
    padding-top: 54px;
}

/* 會員資料區 */
.check{
    width: 1009px;
    height: 380px;
    background-color: rgb(215 212 175 / 23%);
    display: flex;
    margin-left: 152px;
    margin-top: 20px;
}

.check .data{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 22px;
}

.check span{
    font-size: 10px;
    color: #888;
    padding-top: 14px;
}

.data input{
    font-size: 10px;
    text-align: left;
    width: 140px;
    margin-left: 0px;
}

.data textarea{
    width: 278px;
    margin-top: 3px;
}

/* login */
.login{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 0;
    flex-grow: 1;
}

.login ul{
    display: flex;
}
.login input{
    width: 140px;
}

.login input:first-child{
    height: 24px;
    margin-top: 14px;
    color: rgb(96, 85, 71);
    border: 1px solid rgba(128, 128, 128, 0.429);
    background-color: rgba(224, 224, 224, 0.477);
}

.login input:nth-child(2){
    height: 24px;
    margin-top: 14px;
    color: rgb(96, 85, 71);
    border: 1px solid rgba(128, 128, 128, 0.429);
    background-color: rgba(147, 147, 147, 0.74);
}

.login span{
    margin-left: 56px;
}


.login input[type=radio]{
    width: 12px;
    margin-top: -2px;
}

input.facebook {
    width: 150px;
    height: 22px;
    border: none;
    background-color: rgba(143, 143, 192, 0.557);
    color: rgba(52, 52, 44, 0.664);
}

input.ing {
    width: 150px;
    height: 22px;
    margin-top: -5px;
    border: none;
    background-color: rgba(232, 172, 183, 0.829);
    color: rgba(52, 52, 44, 0.664);
}

input.line {
    width: 150px;
    height: 22px;
    margin-top: -9px;
    border: none;
    background-color: rgba(162, 218, 152, 0.575);
    color: rgba(52, 52, 44, 0.664);
}

.login p{
    text-align: center;
    font-size: 10px;
}

.login input:last-child{
    background-color: rgba(206, 126, 98, 0.459);
    margin-bottom: 21px;
    width: 150px;
    height: 25px;
    border: none;
}




/* 尾 */
footer{
    display: flex;
    flex-direction: column;
    height: 80px;
    background-color: rgba(102, 102, 167, 0.954);
    color: white;
    text-align: center;
    margin-top: 225px;
    font-size: 15px;
    
}
footer  p{
    flex-shrink: 0;
    padding-top: 14px;
    box-sizing: border-box;
   }

